<form>
  <div class="input-group">
    <div>
      <label for="initial-investment">Initial Investment</label>
      <input
        type="number"
        id="initial-investment"
        name="initial-investment"
        [(ngModel)]="initialInvestment"
      />
    </div>
    <div>
      <label for="annual-investment">Annual Investment</label>
      <input
        type="number"
        id="annual-investment"
        name="annual-investment"
        [(ngModel)]="annualInvestment"
      />
    </div>
  </div>
  <div class="input-group">
    <div>
      <label for="expected-return">Expected Return</label>
      <input
        type="number"
        id="expected-return"
        name="expected-return"
        [(ngModel)]="expectedReturn"
      />
    </div>
    <div>
      <label for="duration">Duration</label>
      <input
        type="number"
        id="duration"
        name="duration"
        [(ngModel)]="duration"
      />
    </div>
  </div>
  <button (click)="calculate()">CALUCULATE</button>
  <div></div>
</form>
